aside.sidebar
   .sidebar__content
      .mobile-docs-header
         button.mobile-docs-toggle Docs Menu
      nav.sidebar__list
         h2 Getting Started
         - var pages = [{title:"Step 1: Install PhoneGap", url:"getting-started/1-install-phonegap/desktop"},{title:"Step 2: Install Mobile App", url:"getting-started/2-install-mobile-app"},{title:"Step 3: Create Your App", url:"getting-started/3-create-your-app/desktop"},{title:"Step 4: Preview Your App", url:"getting-started/4-preview-your-app/desktop"},{title:"Step 5: Going Further", url:"getting-started/5-going-further"}]
         ul
            each page in pages
               li: a(href="/#{page.url}" class=document.url === page.url? "current" : "")!=page.title
         h2 Tutorials
         h3 Developer Guides
         ul
            li: a(href="/develop/hello-world-explained" class=document.url === 'develop/hello-world-explained'? "current" : "") Hello World Explained
            li: a(href="/develop/1-embed-webview/ios" class=document.url === 'develop/1-embed-webview/ios'? "current" : "") Embedding the Webview
         h2 References
         ul
            li: a(href="/plugin-apis" class=document.url === 'plugin-apis'? "current" : "") Plugin APIs
            li: a(href="/references/desktop-app" class=document.url === 'references/desktop-app'? "current" : "") PhoneGap Desktop
            li: a(href="/references/developer-app" class=document.url === 'references/developer-app' ? "current" : "") PhoneGap Developer
            li: a(href="/references/phonegap-cli" class=document.url === 'references/phonegap-cli' ? "current" : "") PhoneGap CLI
            li: a(href="/references/phonegap-build" class=document.url === 'references/phonegap-build' ? "current" : "") PhoneGap Build
            ul
               li: a(href="/references/phonegap-build/getting-started" class=document.url === 'references/phonegap-build/getting-started' ? "current" : "") Getting Started
               li: a(href="/references/phonegap-build/configuring" class=document.url === 'references/phonegap-build/configuring' ? "current" : "") Configuring
               li: a(href="/references/phonegap-build/signing" class=document.url === 'references/phonegap-build/signing' ? "current" : "") Signing
               li: a(href="/references/phonegap-build/debugging" class=document.url === 'references/phonegap-build/debugging' ? "current" : "") Debugging
               li: a(href="/references/phonegap-build/developer-api" class=document.url === 'references/phonegap-build/developer-api' ? "current" : "") Developer API
               ul
                  li: a(href="/references/phonegap-build/developer-api/oauth" class=document.url === 'references/phonegap-build/developer-api/oauth'? "current" : "") OAuth
                  li: a(href="/references/phonegap-build/developer-api/read" class=document.url === 'references/phonegap-build/developer-api/read'? "current" : "") Read API
                  li: a(href="/references/phonegap-build/developer-api/write" class=document.url === 'references/phonegap-build/developer-api/write'? "current" : "") Write API
               li: a(href="/references/phonegap-build/support" class=document.url === 'references/phonegap-build/support' ? "current" : "") Support

               



