aside.sidebar
  .sidebar__content
    .mobile-docs-header
      button.mobile-docs-toggle Docs Menu
    nav.sidebar__list
      h2 Getting Started
      - var pages = [{title:"Step 1: Install PhoneGap", url:"getting-started/1-install-phonegap/desktop"},{title:"Step 2: Install Mobile App", url:"getting-started/2-install-mobile-app"},{title:"Step 3: Create Your App", url:"getting-started/3-create-your-app/desktop"},{title:"Step 4: Run Your App", url:"getting-started/4-run-your-app/desktop"},{title:"Step 5: Going Further", url:"getting-started/5-going-further"}]
      ul
        each page in pages
          li: a(href="/#{page.url}" class=document.url === page.url? "current" : "")!=page.title
      h2 Tutorials
      h3 Developer Guides
      ul
        li: a(href="/develop/hello-world-explained" class=document.url === 'develop/hello-world-explained'? "current" : "") Hello World Explained
        li: a(href="/develop/1-embed-webview/ios" class=document.url === 'develop/1-embed-webview/ios'? "current" : "") Embedding the Webview
      h2 References
      ul
        li: a(href="/plugin-apis" class=document.url === 'plugin-apis'? "current" : "") Plugin APIs
        li: a(href="/references/desktop-app" class=document.url === 'references/desktop-app'? "current" : "") PhoneGap Desktop
            - var subPages = [{title:"1. Install", url:"references/desktop-app/install/mac"},{title:"2. Create a Project", url:"references/desktop-app/create-project"},{title:"3. Open a Project", url:"references/desktop-app/open-project"},{title:"4. Active vs Inactive", url:"references/desktop-app/active-vs-inactive"},{title:"5. Preview your App", url:"references/desktop-app/pair-with-dev-app"},{title:"6. Remove a Project", url:"references/desktop-app/remove-project"},{title:"7. Update Version", url:"references/desktop-app/update-version"},{title:"8. Edit Settings", url:"references/desktop-app/edit-settings"},{title:"9. View Server Log", url:"references/desktop-app/view-server-log"},{title:"10. Troubleshoot", url:"references/desktop-app/troubleshoot-faq"}]
            ul
              each page in subPages
                li: a(href="/#{page.url}" class=document.url === page.url? "current" : "")!=page.title


      //- each guide, index in getCollection("navItems").toJSON()
      //-   if guide.filename == '0-index.html.md'
      //-     if index > 0
      //-       | </ul>
      //-     | <h#{guide.relativePath.split('/').length}> 
      //-     a(href="/#{guide.url}")=guide.title
      //-     | </h#{guide.relativePath.split('/').length}>
      //-     | <ul>
      //-   else
      //-     li: a(href="/#{guide.url}")=guide.title
      //- | </ul>
